h1{

    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    
}

img{

    height: 400px;
    position: absolute;
    opacity: 80%;
    left: 100px;
    top: 400px;
    border-radius: 25px;
}

p{

   color:white;
   max-width: 800px;
   position:absolute;
   left: 900px;
   top: 440px;
   font-family: Arial, Helvetica, sans-serif;

}

.p2{

    color:white;
    max-width: 800px;
    position:absolute;
    left: 900px;
    top: 610px;
    font-family: Arial, Helvetica, sans-serif;
 
 }