.header{

    background-color: #040e0f;
    height:120px;
    position:relative;
    top:-16px;
    left:-8px;
    width: 100vw;
}

p{
    color:white;
}

img{

    width: 220px;
    position:absolute;
    top:10px;
    left: 100px;
    cursor:pointer;
}

button{

    background-color: #040e0f00;
    color:rgb(204, 204, 204);
    position:absolute;
    top: 40px;
    left: 750px;
    font-size: 15px;
    border-color: rgba(240, 248, 255, 0);
    cursor:pointer;

}

.tjen{

    background-color: #040e0f00;
    color:rgb(204, 204, 204);
    position:absolute;
    top: 40px;
    left: 650px;
    font-size: 15px;
    border-color: rgba(240, 248, 255, 0);
    cursor:pointer;

}

.industri{

    background-color: #040e0f00;
    color:rgb(204, 204, 204);
    position:absolute;
    top: 40px;
    left: 850px;
    font-size: 15px;
    border-color: rgba(240, 248, 255, 0);
    cursor:pointer;

}

.omoss{

    background-color: #040e0f00;
    color:rgb(204, 204, 204);
    position:absolute;
    top: 40px;
    left: 950px;
    font-size: 15px;
    border-color: rgba(240, 248, 255, 0);
    cursor:pointer;

}

.kontakt{

    background-color: #040e0f00;
    color:rgb(204, 204, 204);
    position:absolute;
    top: 40px;
    left: 1050px;
    font-size: 15px;
    border-color: rgba(240, 248, 255, 0);
    cursor:pointer;

}

