google-map{

    position:absolute;
    top:2200px;
    left: 430px;
    padding-bottom: 100px;

}

h1{

    color:black;
    position:absolute;
    top:2050px;
    left: 700px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}